/*===========================================================================*/
:root {
    --line-height: 1.8em;
    --form-width: 400px;
}

* {
    letter-spacing: 0.05em !important;
    line-height: var(--line-height) !important;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #fafafa;
    font-family: "Noto Sans JP";
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    margin: 0;
    padding: 0;
    height: 100%;
}



/*===========================================================================*/

h3 {
    margin: 5px 0 5px 0;
}

td.button_outer {
    width: 70px;
}

input, button {
    width: 100%;
}

button {
    cursor: pointer;
}

table {
    width: 90%;
    max-width: 700px;
    padding-bottom: 100px;
}

/*===========================================================================*/
/* 上下中央寄せ */
.center_outer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}